.title {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem!important;
  margin-bottom: 0.25rem!important;
}

.icon:hover {
  cursor: pointer;
  color: #8a8a8a;
}

.text {
  font-family: 'Archer SSm A', 'Archer SSm B', Georgia, serif;
  font-style: italic;
  font-size: 1.2rem!important;
}
